<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: "ALL PROJECTS"}) %>
<body>
    <div class='page-container'>

        <div class='page-left'>
            <%- include('../partials/nav') %>
        </div>


        <div class='page-right'>
                <div class ='projects'>
                    <h3>List of Projects</h3>
                    <div><a href='https://github.com/abeatrix/dotfiles'>
                        <img class="mySlides" src="https://cdn.discordapp.com/attachments/760917988927864873/762092011188649984/Screenshot_from_2020-10-03_15-23-06.png" width='500'>
                    </a></div>
                    <div><a href='https://github.com/abeatrix/Toripuru-Toraiado'>
                        <img class="mySlides" src="https://i.ibb.co/SXD2jKk/image.png" width='500'>
                    </a></div>
                    <div><a href='https://github.com/abeatrix/assembleIt'>
                        <img class="mySlides" src="https://i.ibb.co/vZvhQqK/assemble-It-WF-005.png" width='500'>
                    </a></div>
                </div>

            <%- include('../partials/footer') %>
        </div>
    </div>1
</body>
</html>
