<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: "ALL PROJECTS"}) %>
<body>
    <div class='page-container'>

        <div class='page-left'>
            <%- include('../partials/nav') %>
        </div>


        <div class='page-right'>
            <h1>List of Projects</h1>
            <ul>
                <li><a href='https://github.com/abeatrix/dotfiles'>dotfiles</a></li>
                <li><a href='https://github.com/abeatrix/assembleIt'>simplified reddit</a></li>
                <li><a href='https://github.com/abeatrix/Toripuru-Toraiado'>toripuru toraiado</a></li>
            </ul>


            <%- include('../partials/footer') %>
        </div>
    </div>
</body>
</html>
