
    <!-- Sidebar -->
    <div>
        <i class="far fa-moon"></i>
    </div>
<div class='profile'>
    <img src="https://64.media.tumblr.com/6a16677a8f726022fba1206020cf32b2/02b23f5871ea6cfa-45/s1280x1920/744ca6fe06e143bfc362077e360e073244b70d77.jpg">
</div>
<div class="sidebar-header">
    <h3 class='profile-name'>BEATRIX WOO</h3>
</div>
<ul class="list-unstyled components">
    <p>A Full-Stack Software Engineer</p>
    <li>
        <a href="/">HOME</a>
    </li>
    <li>
        <a href="#">ABOUT</a>
    </li>
    <li>
        <a href="http://localhost:4000/articles">ARTICLES</a>
    </li>
    <li>
        <div class='social'>
            <a href="https://github.com/abeatrix"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/imbeatrix_x"><i class="fab fa-twitter"></i></a>
            <a href="mailto:beatrixwoo@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
    </li>
</ul>


